.row-comment{
  margin-bottom: 1%;
}
.date {
  font-family: Circe;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #858891;
  margin-left: -50px;
}
.rate-value {
  width: 37px;
  height: 23px;
  font-family: Circe;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.card-box {
  height: 265px;
  margin-top: 4%;
  margin-bottom: 4%;
  border-radius: 15px;
  background-color: #f1f5f8;
}

.resto-name{
  width: 100px;
  height: 26px;
  font-family: Circe;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}


.resto-type{
  width: 39px;
  height: 20px;
  margin: 7px 46px 49px 0px;
  font-family: Circe;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #858891;
}

.comment-content{
  margin: 20px 0px 0px 0px;
  text-align: left;

}
 .m-r-10{
   margin-right: -10%;
 }
.comment-content-popup{
  width:   46%;
}

.comment-detail-edit{
  width:  46%;
  height: 100px;
  background-color: #f1f5f8;
  border-color: #f1f5f8;
  border-radius: 3px;
}

.popup-comment{
  width:   46%;
  height: 40px;
  background-color: #f1f5f8;
  border-color: #f1f5f8;
  border-radius: 3px;
  margin-bottom: 10px;
}

.comment-row{
 margin-top: 20px;
}

.comment{
  width: 100%;
  height: 23px;
  font-family: Circe;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  margin-left: -10%;
  color: #000000;
}

.title-wrapper{
  margin-left: 3%;
}

.comment-popup{
  width: 100%;
  height: 23px;
  font-family: Circe;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}


.resto-desc{
  font-family: Circe;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}



.validate-edit {
  background-color: #333a50;
  font-family: Circe;
  font-size: 22px;
  margin-top: -20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  color: #ffffff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

}
.modal-footer>* {
  margin: 0;
}


.modal-sub-button {
  width: 100%;
  height: 54.8px;
  background-color: #333a50;
  margin-left: -50px;
  font-family: Circe;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  &:hover{
    color: #fff;
    background-color: #fb5557;
    border-color: #fb5557;
  }
}

.Path-972 {
  width: 100%;
  height: 0.2px;
  border: solid 6px #fb5557;
  color: #fb5557;
}
.update-button {
  border:none;
  line-height: 1.43;
  color: black !important;
  background-color: transparent !important;
  .btn:focus{
    border:none;
    box-shadow: none !important;
  }
  .btn:hover{
    border:none;
    box-shadow: none !important;
  }
}
