.fidelity-item-box {
  width: 536px;
  height: 115px;
  margin-top: 3%;
  padding: 14px 15px 13px 18px;
  background-color: #f1f5f8;
  border-radius: 13px;
}
.fidelity-item-content {
  margin-top: 20px;
}

.promoCode-box {
  width: 125px;
  height: 48px;
  border-radius: 10px;
  opacity: 0.35;
  background-color: #45b995;
}

.promoCode-title {
  position: center;
  color: #070304;
  font-weight: bold;
  padding-left: 30px;
}


